<h1> Please Enter Your Username </h1>

<form action='/login' method="post"
<label> Username:</label>
<input type="text" name="name">
<input type= "password" name="password">
<input type= "submit" value = "login">


<%
