<h1> Register with Flash.me Today! </h1>

<form action='/login' method="post"
<label> Username:</label>
<input type="text" name="name">
<input type= "password" name="password" placeholder="Enter your password">
<input type= "password" name="password1" placeholder="Re-type password">
<input type= "submit" value = "login">